.podio-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  background-color: #999;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  flex-direction: column;
  overflow: hidden;
}

.btn{
  position: relative;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  background-color: gold;
  color: black;
  left: 40%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 5s ease;
}

.btn:hover {
  transform: scale(1.1);
}


@media (max-width: 600px) {
  .btn {
    width: 120px !important;
    height: 70px !important;
    text-align: center;
  }
  .btn {
    top: 10% !important;
  }

  .podio-overlay{
    align-items: center;
    font-size: .1rem;
  }
}
