.podio-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  background-color: #999;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  flex-direction: column;
  overflow: hidden;
}

.btn{
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}
