.timon-container {
    position: absolute;
    top: 95%;
    left: 50%;
    height:100%;
    z-index: 1;
    pointer-events: none;
    overflow-y: hidden;
    animation: aparecer 5s  ease;
}

.timon-img{
    position: relative;
    width: 400px;
    height: 350px;
    align-items: center;

}


 @keyframes aparecer {
  0% {
    transform: translate(-50%, 200px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);  
   opacity: 1;
  }
}

@media (max-width: 600px) {
  .timon-img {
    width: 250px !important;
    height: 300px !important;
  }
  .timon-container {
    top: 120% !important;
  }
}


