.timon-container {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%); /* 💡 Centrado total */
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  animation: aparecer 5s ease forwards;
}

.timon-img {
  width: 450px;
  height: 400px;
  display: block;
  margin: 0 auto; /* Por si acaso */
}

/* Animación de entrada */
@keyframes aparecer {
  0% {
    transform: translate(-50%, 200px); /* desde abajo y centrado */
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -80%); /* sube y se queda centrado */
    opacity: 1;
  }
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .timon-img {
    width: 90vw;
    height: auto;
  }

  .timon-container {
    top: 110%;
  }
}
