*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  width: 100vw;
  height: 100dvh; /* ✅ Usa viewport dinámico para móviles también */
  background-image: url('/images/carreterasbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden; /* ✅ Oculta scroll por completo */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

h1{
  border-radius: 30% #0005;
  margin:  15px;
  font-weight: 900;
  color: #0009;
}


.opciones {
  z-index: 1;
  display: flex;
  gap: 15rem;
  margin-bottom: 25%;
  flex-direction: row;
  align-items: start;
}

.cerrar {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  background: none;
  border: none;
  color: #f00;
  font-size: 1.1rem;
  cursor: pointer;
}



.logo-con-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


.precio-modal {
  font-size: 2.1rem;
  font-weight: bold;
  background: #003;color: #f00;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 20px;
}

.logo-icono {
  width: 100px;
  height: 20px;
  object-fit: contain;
}

.logo-etiqueta {
  font-size: 10px;
  color: white;
  text-align: center;
  font-weight: 300;
  text-transform: capitalize;
}



@media (max-width: 768px) {
  .opciones {
    flex-direction: row;
    height: 40%;
    gap: 1rem;
    align-items: center;
    margin-bottom: 400px;
  }
}

  h1{
    font-size: 4rem;
    display: flex;
    flex-direction: row;
  }


@media (max-width: 420px) {
  .app {
    padding: 1rem; /* por si algún contenido se ajusta al borde */
  }

  h1{
  display: flex;
  flex-direction: column;
  text-align: center;
  }

  .opciones {
    flex-direction: row;   /* uno encima del otro */
    align-items: center;
    gap: 1rem;
    margin-bottom: 150px;     /* menos espacio en móviles chicos */
  }

  button {
    font-size: 1rem;
    top: 200px;
    padding: 0.75rem 1.5rem;
    width: 80%;              /* que ocupen todo el ancho disponible */
    max-width: 200px;         /* pero no exagerado */
  }
}
